[submodule ".vim/autoload"]
	path = .vim/autoload
	url = https://github.com/junegunn/vim-plug.git
[submodule ".zsh/themes/spaceship"]
	path = .zsh/themes/spaceship
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
[submodule ".zsh/plugins/fast-syntax-highlighting"]
	path = .zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-zmirror/fast-syntax-highlighting.git
[submodule ".zsh/plugins/zsh-autosuggestions"]
	path = .zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
