@define-color foreground #cdd6f4;
@define-color background #1a1b26;

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 100%;
}

.modules-left {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 8px;
}

.modules-right {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio {
  min-width: 12px;
  margin: 0 7.5px;
}

tooltip {
  padding: 2px;
}

#clock {
  margin-left: 8.75px;
  margin-right: 8.75px;
}

.hidden {
  opacity: 0;
}
